<!-- <!DOCTYPE html> -->
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/element.css">
</head>
<body style="margin: 0">
  <table id="header-table">
    <tr class="header-table-row">
      <td id="element-letters" colspan="2"><div style="margin: -9.3vw 0 -8.3vw -2.8vw">Mg</div></td>
    </tr>
    <tr class="header-table-row">
      <td id="element-info">
        Водород<br/>
        <span id="element-lat-name">Hydrogenium</span><br/>
        |1,00794|
      </td>
      <td id="element-number"><div style="margin: 0 -2.5vw 0 0">001</div></td>
    </tr>
  </table>
    <h4>Химический элемент</h4>
    <p style="font-size: 10px">Пускай марганец только 14-ый по распространённости химический элемент на Земле, у него необычайно важная металлургическая миссия: c его помощью из сталей удаляют кислород и серу ввиду</p>
    <h4>Устройство</h4>
    <p style="font-size: 10px">Пускай марганец только 14-ый по распространённости химический элемент на Земле, у него необычайно важная металлургическая миссия: c его помощью из сталей удаляют кислород и серу ввиду</p>
    <h4>Минерал</h4>
    <p style="font-size: 10px">Пускай марганец только 14-ый по распространённости химический элемент на Земле, у него необычайно важная металлургическая миссия: c его помощью из сталей удаляют кислород и серу ввиду</p>
</body>
</html>
