<!DOCTYPE html>
<html>
<head>
    <style>
        .element {
            color: red;
            background-color: #c2c2c2;
            margin: 10px 0 0 0;
            border: 2px solid black;
            width: 110px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="ejs.js"></script>
</head>
<body>
    Это меню
    <% console.log(elements);%>
    <% for(let i = 0;i < elements.length;i++){ %>
        <div class="element" id="<%=i%>"><%=elements[i].name%></div> 
    <% } %>
    <script>
        $('.element').click(function(event){
            console.log(event.currentTarget.id);
            window.location.replace("<%= element_url%>"+event.currentTarget.id);
        });
    </script>
</body>
</html>
