@font-face {
  font-family: AvantGarde-demi;
  src: url('fonts/demi.otf');
}
@font-face {
  font-family: AvantGarde-book;
  src: url('fonts/book.otf');
}
* {
  font-family: AvantGarde-demi;
}
#element-lat-name, p {
  font-family: AvantGarde-book;
}
#element-number {
  padding: 0 0 1.5vh 0;
  vertical-align: bottom;
  font-size: 12vw;
  color: white;
}
#header-table {
  width: 100%;
  margin-bottom: 2vh;
}
#element-letters {
  font-size: 38vw;
  color: #161616;
}
#element-info {
  padding: 1.5vh 0 1.5vh 9vw;
  text-align: left;
  font-size: 4vw;
  color: black;
}
h4 {
  margin: 0;
  padding: 1.5vh 0 1.5vh 10vw;
  font-size: 2.5vh;
}
sub {
    font-family: AvantGarde-book;
}
p {
  padding: left;
  margin: 0;
  margin-left: 12vw;
  font-size: 2vh;
}
